
#img_menu {
    img{
      width: 2em;
      position: relative;
      top: 0.4em;
      left: -0.2em;
    }
}
#menu {
    display: flex;
    flex-direction: column !important;
    a {
        display: none;
        font-size: 1em;
        padding-top: 1em;
        position: relative;
        top: -220px;
        left: -220px;
        transition: 1s;
    }
}
#img_menu:hover{
    #menu{
        position: absolute;
        a {
            display: block;
            top:0px;
            left:0px;
        }
    }
    transition: 1s;
}
.border{
    border: 1px solid black;
}
.black{
    background-color: black;
    color: white;
}
.flux{
    display: flex;
    flex-direction: row;
}
.flax{
    display: flex;
    flex-direction: row;

}
.lower{
    font-size: 12px;
    height: 20px;
}
.pos{
    height: 20px;
}
.pos_t{
    position: relative;
    top: -30px;
    left: 40px;
    font-size: 2em;
}
.logo{
    width: 2em;
    height: 2em;
}
.hid{
    display: none;
    transition: 1s;
}
.rech:hover{
    .hid{
        display: block;
        transition: 1s;
    }
}
.marg{
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    bottom: 2em;
}