/* font-family: 'Open Sans', sans-serif;
font-family: 'Crimson Text', serif; */

/* * {
  border: 1px solid black;
}*/
.crim {
  font-family: "Crimson Text", serif;
}
.titre {
  text-align: center;
  font: {
    size: 2.2em;
    weight: 400;
  }
}
.nav_t {
  font-size: 0.8em;
  text-align: center;
}
.sans {
  font-family: "Open Sans", sans-serif;
}
$pfootercolor: white;
$pfooterfont: "Open Sans", sans-serif;

/* * {
  border: 1px solid black;
} */

.container {
  max-width: 60% !important;
  margin: auto !important;
}
.marge {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
}
.space {
  position: relative;
  left: 15em;
  padding-left: 1em;
  padding-right: 16em;
  padding-top: 3em;
  padding-bottom: 3em;
}
#t_1 {
  width: 100%;
}
#t_2 {
  height: 10%;
  font-size: 0.6em;
  color: red;
  padding-top: 2em;
  text-align: center;
}
#t_3 {
  height: 20%;
  text-align: center;
  padding-bottom: 0.2em;
  margin: auto;
  font: {
    size: 0.8em;
    weight: 1000;
  }
  text-transform: uppercase;
}
#t_4 {
  height: 20%;
  text-align: left;
  padding-bottom: 0em;
  margin: auto;
  margin-bottom: 0;
  font: {
    size: 0.5em;
    weight: 1000;
  }
  text-transform: uppercase;
}
.no-bottom {
  margin-bottom: O;
}
.n_w {
  width: 120% !important;
  margin-left: -6em !important;
}
.pad_top {
  padding-top: 1em;
}
.pad_gau {
  padding-left: 0 !important;
}
.rpos {
  position: relative;
  left: 1.4em;
}
#over {
  width: 120%;
}
.ower {
  width: 120%;
  padding-top: 1em;
}
.bottom_cont {
  padding-bottom: 2em;
}
.nav_img {
  max-width: 1em;
}
/*Bouton Featured face-insta-tweet*/
.blue_back {
  color: white;
  background-color: rgba(0, 216, 255, 1);
}
.hblue_back {
  background-color: rgba(0, 123, 255, 1);
  color: white;
}
.posi_back {
  margin-top: 0.3em;
  padding: 0;
  display: flex;
  align-items: center;
}
.text_back {
  font-size: 0.5em !important;
  text-align: left;
  p {
    position: relative;
    top: 0.8em;
  }
}
.img_back {
  max-width: 3em;
  padding-left: 0;
  margin-left: 0;
}
.txt_right {
  text-align: right;
}

/*Partie css morgane */

$grey: #aaa;

h5 {
  font: {
    size: 0.5em !important;
    weight: 1000 !important;
  }
  text-transform: uppercase;
  &:after {
    background-color: #f2f2f2;
    content: "";
    display: inline-block;
    height: 0.2em;
    position: relative;
    vertical-align: middle;
    width: 80%;
    left: 0.5em;
  }
}

img {
  width: 100%;
}

#v-line {
  font-size: 1em;
  color: $grey;
}

h2 {
  color: #fa8460;
  font: {
    size: 0.5em !important;
    weight: 1000 !important;
  }
  word-spacing: 1em;
  padding-top: 1em;
}

#center {
  text-align: center;
}

h4 {
  @extend .sans;
  font: {
    size: 0.7em !important;
    weight: 1000 !important;
  }
  text-transform: uppercase;
  color: #444343;
}

p {
  @extend .crim;
  font-size: 0.7em;
  color: #6b6a6a;
}

#share {
  color: black;
  border-radius: 50px;
  border: solid 0.1em #adadad;
  padding: 0.5em;
  margin-right: 0.5em;
}
.featured a {
  @extend .sans;
  color: $grey !important;
  text-transform: uppercase;
  font: {
    size: 0.5em;
    weight: bold;
  }
}

.pagination {
  justify-content: center;
  align-items: baseline;
}

.page-num {
  border-radius: 50px;
  margin: 0.5em !important;
  font-size: 0.6em !important;
  border: 0.1em solid $grey !important;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
}

.current {
  color: white;
  background-color: #444343;
}

.pagination a {
  color: $grey;
  align-items: baseline;
}

.dots {
  color: $grey;
  font-size: 0.4em;
  font-weight: bold;
}

#footer1-cont1 {
  background-color: #383734;
}

#footer1-cont2 {
  padding-top: 60px;
  color: $pfootercolor;
  font-weight: bold;
  font-family: $pfooterfont;
}

h6 {
  font: {
    size: 0.5em !important;
    weight: 1000 !important;
  }

  text-transform: uppercase;
  margin-left: 1rem;
}

.column1 {
  margin-bottom: 0;
}

#footer1-list {
  list-style-type: none;
  padding-left: 0;

  .list-item {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.05);
    line-height: 2rem;
    font-size: 0.6em;
  }
}

.pictures1 {
  max-width: 120%;
  max-height: 120%;
  padding-bottom: 2rem;
}

.max-w {
  max-width: 100% !important;
}

.text-resize {
  font-size: 0.5rem;
}

.text-resize2 {
  font-size: 0.8rem;
}

.flex {
  padding: 0 !important;
  max-width: 90%;
  max-height: 90%;
  padding-top: 1em;
}

.r_dis {
  position: relative;
}

.set {
  max-height: 130%;
}

#footer-media {
  height: 8rem;
  background-color: #242321;
}

.media-icons {
  color: white;
  text-align: right;
  padding-top: 1rem;
}

#icons {
  border: 0.8rem solid #383734;
  background-color: #383734;
  border-radius: 3rem;
  margin-right: 0.4rem;
}

.dim {
  i {
    width: 1em !important;
    height: 1em !important;
  }
}
